<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658480424798-852bkkv3g23vnhtqqbj5vp00iiishpoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658480424798-852bkkv3g23vnhtqqbj5vp00iiishpoc</string>
	<key>API_KEY</key>
	<string>AIzaSyDHCGZvNKe9CVO4BptPfEvwsGlr42mTPjc</string>
	<key>GCM_SENDER_ID</key>
	<string>658480424798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nzm.SnapchatCloneNZM</string>
	<key>PROJECT_ID</key>
	<string>snapchatclonenzm</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclonenzm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:658480424798:ios:d4c0fe67ea73e0ada111cf</string>
</dict>
</plist>
